<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring Beans Configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

			<!-- Spring Beans Definition -->
		<context:property-placeholder location="file:server.properties" />

			
			<bean id="storageHandler" class="net.dfs.user.connect.impl.StorageConnectionHandlerImpl" >
				<property name="tokenService" ref ="tokenService" />
				<property name="userRegistration" ref ="userRegistration" />
				</bean>

			<bean id="tokenService" class="net.dfs.server.token.impl.TokenServiceImpl" >
				<property name="userRegistration" ref ="userRegistration" />
				<property name="writeSpace" ref ="writeSpace" />
				<property name="CHUNK_SIZE">
					<value>${server.CHUNK_SIZE}</value>
				</property>
				</bean>

			<bean id="heartBeatService" class="net.dfs.server.heartbeat.impl.HeartBeatServiceImpl">
				<property name="nodeRegistration" ref="nodeRegistration" />
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="FileSpaceCreator" /> 
				<property name="service" ref ="spaceCreator" />
				<property name="serviceInterface" value="net.dfs.server.filespace.creator.FileSpaceCreator"/>
 				<property name="registryPort" value="8989"/>		
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="HeartBeatService" /> 
				<property name="service" ref ="heartBeatService" />
				<property name="serviceInterface" value="net.dfs.server.heartbeat.HeartBeatService"/>
 				<property name="registryPort" value="8989"/>		
			</bean>
			
			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="TokenFileManager" /> 
				<property name="service" ref ="tokenFileManager" />
				<property name="serviceInterface" value="net.dfs.server.chunkreceiver.TokenFileManager"/>
 				<property name="registryPort" value="8989"/>		
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="FileLocationTracker" /> 
				<property name="service" ref ="hashMap" />
 				<property name="serviceInterface" value="net.dfs.server.filemapper.FileLocationTracker"/>
				<property name="registryPort" value="8989"/>		
			</bean>
			
			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="StorageConnectionHandler" /> 
				<property name="service" ref ="storageHandler" />
 				<property name="serviceInterface" value="net.dfs.user.connect.StorageConnectionHandler"/>
				<property name="registryPort" value="8989"/>		
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="RetrievalConnectionHandler" /> 
				<property name="service" ref ="retrieve" />
 				<property name="serviceInterface" value="net.dfs.user.connect.RetrievalConnectionHandler"/>
				<property name="registryPort" value="8989"/>		
			</bean>

 			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="RemoteNodeRegistration" /> 
				<property name="service" ref ="nodeRegistration" />
 				<property name="serviceInterface" value="net.dfs.server.noderegistration.RemoteNodeRegistration"/>
				<property name="registryPort" value="8989"/>		
			</bean>


			<bean id="nodeRegistration" class="net.dfs.server.noderegistration.impl.RemoteNodeRegistrationImpl" >
				<property name="heartBeatService" ref="heartBeatService" />
			</bean>


			<bean id="writeSpace" class="net.dfs.server.filespace.accessor.impl.WriteSpaceAccessorImpl" >
				<property name="spaceCreator" ref ="spaceCreator" />
				<property name="serverIP" >
					<value>${server.ip}</value>
				</property>
			</bean>

			<bean id="sendFileManager" class="net.dfs.user.connect.sender.impl.SendFileManagerImpl" >
				<property name="userRegistration" ref ="userRegistration" />
			</bean>

			<bean id="spaceCreator" class="net.dfs.server.filespace.creator.impl.FileSpaceCreatorImpl" >
 			</bean>

			<bean id="tokenFileManager" class="net.dfs.server.chunkreceiver.impl.TokenFileManagerImpl" >
				<property name="userRegistration" ref ="userRegistration" />
				<property name="CHUNK_SIZE">
					<value>${server.CHUNK_SIZE}</value>
				</property>
 			</bean>

			<bean id="userRegistration" class="net.dfs.server.noderegistration.impl.UserRegistrationServiceImpl" >
 			</bean>

			<bean id="hashMap" class="net.dfs.server.filemapper.impl.FileLocationTrackerImpl" >
 			</bean>

			<bean id="retrieve" class="net.dfs.user.connect.impl.RetrievalConnectionHandlerImpl" >
				<property name="userRegistration" ref ="userRegistration" />
				<property name="retrievalSrevice" ref ="retrievalSrevice" />
 			</bean>

			<bean id="retrievalSrevice" class="net.dfs.server.retrievefile.impl.FileRetrievalServiceImpl" >
				<property name="nodeRegistration" ref ="nodeRegistration" />
				<property name="userRegistration" ref ="userRegistration" />
				<property name="hashMap" ref ="hashMap" />
				<property name="sendFileManager" ref ="sendFileManager" />
 			</bean>

</beans>
		