<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring Beans Configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

			<!-- Spring Beans Definition -->
	<context:property-placeholder location="file:server.properties" />
			
			<bean id="storageHandler" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
 			   	<property name="serviceUrl" value="rmi://${server.ip}:8989/StorageConnectionHandler"/>
 				<property name="serviceInterface" value="net.dfs.user.connect.StorageConnectionHandler"/>
 			</bean>

			<bean id="retrieve" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
 			   	<property name="serviceUrl" value="rmi://${server.ip}:8989/RetrievalConnectionHandler"/>
 				<property name="serviceInterface" value="net.dfs.user.connect.RetrievalConnectionHandler"/>
 			</bean>
 			
<!-- Client  -->
 
 			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="LocalSave" /> 
				<property name="service" ref ="localSave" />
 				<property name="serviceInterface" value="net.dfs.user.test.LocalSave"/>
				<property name="registryPort" value="8989"/>		
			</bean>
 			
 			<bean id="localSave" class="net.dfs.user.test.LocalSaveImpl" >
 			</bean>
 
 </beans>
		