<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring Beans Configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

			<!-- Spring Beans Definition -->
	
	 		<bean id="receiveFile" class="net.dfs.remote.filestorage.impl.FileReceiverImpl" >
				<property name="lookup" ref ="spaceAccessor" />
				<property name="spaceHost" ref ="host" />
				<property name="storeFile" ref ="storefile" />
			</bean>
		
			<bean id="storefile" class="net.dfs.remote.filestorage.impl.StoreFileImpl" >
				<property name="hashTable" ref ="hashtable" />
			</bean>

<!-- 
			<bean id="spaceAccessor" class="net.dfs.server.filespace.creator.impl.SpaceAccessorImpl" >
				<property name="security" ref ="security" />
			</bean>

			<bean id="security" class="net.dfs.server.filespace.creator.impl.SecurityManagerImpl" />

			<bean id="hashtable" class="net.dfs.server.filemapper.impl.MapFileImpl" />

			<bean id="host" class="net.dfs.server.filespace.creator.impl.SpaceHostImpl" />
 -->		
		
			<bean id="spaceAccessor" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
 			   	<property name="serviceUrl" value="rmi://192.168.2.2:8080/"/>
 				<property name="serviceInterface" value="net.dfs.server.filespace.creator.SpaceAccessor"/>
 			</bean>
 
			<bean id="hashtable" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
			   	<property name="serviceUrl" value="rmi://192.168.2.2:8080/" />
 				<property name="serviceInterface" value="net.dfs.server.filemapper.MapFile"/>
 			</bean>
 
			<bean id="host" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
			   	<property name="serviceUrl" value="rmi://192.168.2.2:8080/" />
 				<property name="serviceInterface" value="net.dfs.server.filespace.creator.SpaceHost"/>
 			</bean>
 
</beans>
		