<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring Beans Configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

			<!-- Spring Beans Definition -->

	<!-- <context:property-placeholder location="classpath:server.properties" /> -->
	
	 		<bean id="receiveFile" class="net.dfs.remote.filestorage.impl.FileReceiverSupportImpl" >
				<property name="spaceCreator" ref ="spaceCreator" />
				<property name="tokenFileManager" ref ="tokenFileManager" />
				<property name="storageManager" ref ="storageManager" />
				<property name="hashMap" ref ="hashMap" />
				<property name="serverIP" >
					<value>${server.ip}</value>
				</property>
			</bean>
		
			<bean id="storageManager" class="net.dfs.remote.filestorage.impl.StorageManagerImpl" >
			<property name="path">
				<value>${remote.savepath}</value>
			</property>
			</bean>
		
			<bean id="spaceCreator" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
 			   	<property name="serviceUrl" value="rmi://${server.ip}:8989/FileSpaceCreator"/>
				<property name="serviceInterface" value="net.dfs.server.filespace.creator.FileSpaceCreator"/>
 			</bean>
 
			<bean id="tokenFileManager" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
 			   	<property name="serviceUrl" value="rmi://${server.ip}:8989/TokenFileManager"/>
				<property name="serviceInterface" value="net.dfs.server.chunkreceiver.TokenFileManager"/>
 			</bean>

			<bean id="hashMap" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
			   	<property name="serviceUrl" value="rmi://${server.ip}:8989/FileLocationTracker" />
 				<property name="serviceInterface" value="net.dfs.server.filemapper.FileLocationTracker"/>
 			</bean>
 
			
 <!-- Client  -->
 
 			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="RetrievalManager.${client.ip}" /> 
				<property name="service" ref ="retrievalManager" />
 				<property name="serviceInterface" value="net.dfs.remote.fileretrieve.RetrievalManager"/>
				<property name="registryPort" value="8989"/>		
			</bean>
 
 			<bean id="retrievalManager" class="net.dfs.remote.fileretrieve.impl.RetrievalManagerImpl" >
				<property name="fileSender" ref ="fileSender" />
 			</bean>
 
 			<bean id="fileSender" class="net.dfs.remote.fileretrieve.impl.FileSenderSupportImpl" >
				<property name="spaceCreator" ref ="spaceCreator" />
				<property name="serverIP" >
					<value>${server.ip}</value>
				</property>
 			</bean>

</beans>
		