<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring Beans Configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

			<!-- Spring Beans Definition -->
			
			<bean id="splitfile" class="net.dfs.server.filesplitter.impl.FileSplitServiceImplementation" >
				<property name="fileName" value="C:\\Done.txt" />
				<property name="spaceAccessor" ref ="spaceAccessor" />
				</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="HostAddressCreator" /> 
				<property name="service" ref ="addressCreator" />
 				<property name="serviceInterface" value="net.dfs.server.filespace.creator.HostAddressCreator"/>
				<property name="registryPort" value="8989"/>		
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="FileSpaceCreator" /> 
				<property name="service" ref ="spaceCreator" />
				<property name="serviceInterface" value="net.dfs.server.filespace.creator.FileSpaceCreator"/>
 				<property name="registryPort" value="8989"/>		
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="FileLocationTracker" /> 
				<property name="service" ref ="hashtable" />
 				<property name="serviceInterface" value="net.dfs.server.filemapper.FileLocationTracker"/>
				<property name="registryPort" value="8989"/>		
			</bean>
			

			<bean id="spaceAccessor" class="net.dfs.server.filespace.accessor.impl.FileSpaceAccessorImplementation" >
				<property name="addressCreator" ref ="addressCreator" />
				<property name="spaceCreator" ref ="spaceCreator" />
			</bean>

			<bean id="spaceCreator" class="net.dfs.server.filespace.creator.impl.FileSpaceCreatorImplementation" >
				<property name="securityManager" ref ="securityManager" />
 			</bean>

			<bean id="securityManager" class="net.dfs.server.filespace.creator.impl.SecurityManagerImplementation" />

			<bean id="hashtable" class="net.dfs.server.filemapper.impl.FileLocationTrackerImplementation" >
 			</bean>

			<bean id="addressCreator" class="net.dfs.server.filespace.creator.impl.HostAddressCreatorImplementation" >
 			</bean>

</beans>
		