<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring Beans Configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

			<!-- Spring Beans Definition -->
		<context:property-placeholder location="file:server.properties" />
			
			<bean id="storageHandler" class="net.dfs.user.connect.impl.StorageConnectionHandlerImpl" >
				<property name="split" ref ="splitfile" />
				</bean>

			<bean id="splitfile" class="net.dfs.server.filesplitter.impl.FileSplitServiceImpl" >
				<property name="writeSpace" ref ="writeSpace" />
				</bean>


			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="HostAddressCreator" /> 
				<property name="service" ref ="addressCreator" />
 				<property name="serviceInterface" value="net.dfs.server.filespace.creator.HostAddressCreator"/>
				<property name="registryPort" value="8989"/>		
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="FileSpaceCreator" /> 
				<property name="service" ref ="spaceCreator" />
				<property name="serviceInterface" value="net.dfs.server.filespace.creator.FileSpaceCreator"/>
 				<property name="registryPort" value="8989"/>		
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="FileLocationTracker" /> 
				<property name="service" ref ="hashMap" />
 				<property name="serviceInterface" value="net.dfs.server.filemapper.FileLocationTracker"/>
				<property name="registryPort" value="8989"/>		
			</bean>
			
			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="StorageConnectionHandler" /> 
				<property name="service" ref ="storageHandler" />
 				<property name="serviceInterface" value="net.dfs.user.connect.StorageConnectionHandler"/>
				<property name="registryPort" value="8989"/>		
			</bean>

			<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
				<property name="serviceName" value="RetrievalConnectionHandler" /> 
				<property name="service" ref ="retrieve" />
 				<property name="serviceInterface" value="net.dfs.user.connect.RetrievalConnectionHandler"/>
				<property name="registryPort" value="8989"/>		
			</bean>

			<bean id="writeSpace" class="net.dfs.server.filespace.accessor.impl.WriteSpaceAccessorImpl" >
				<property name="addressCreator" ref ="addressCreator" />
				<property name="spaceCreator" ref ="spaceCreator" />
			</bean>

			<bean id="readSpace" class="net.dfs.server.filespace.accessor.impl.ReadSpaceAccessorImpl" >
				<property name="spaceCreator" ref ="spaceCreator" />
				<property name="sendFileManager" ref ="sendFileManager" />
				<property name="addressCreator" ref ="addressCreator" />
				<property name="hashMap" ref ="hashMap" />
				</bean>

			<bean id="sendFileManager" class="net.dfs.user.connect.sender.impl.SendFileManagerImpl" >
				<property name="serverIP" >
					<value>${server.ip}</value>
				</property>
			</bean>

			<bean id="spaceCreator" class="net.dfs.server.filespace.creator.impl.FileSpaceCreatorImpl" >
				<property name="securityManager" ref ="securityManager" />
 			</bean>

			<bean id="securityManager" class="net.dfs.server.filespace.creator.impl.SecurityManagerImpl" />

			<bean id="hashMap" class="net.dfs.server.filemapper.impl.FileLocationTrackerImpl" >
 			</bean>

			<bean id="addressCreator" class="net.dfs.server.filespace.creator.impl.HostAddressCreatorImpl" >
 			</bean>

			<bean id="retrieve" class="net.dfs.user.connect.impl.RetrievalConnectionHandlerImpl" >
				<property name="retrievalSrevice" ref ="retrievalSrevice" />
 			</bean>

			<bean id="retrievalSrevice" class="net.dfs.server.retrievefile.impl.FileRetrievalServiceImpl" >
				<property name="serverIP" >
					<value>${server.ip}</value>
				</property>
				<property name="hashMap" ref ="hashMap" />
				<property name="readSpace" ref ="readSpace" />
 			</bean>

</beans>
		