<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring Beans Configuration -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

			<!-- Spring Beans Definition -->
	
	 		<bean id="ms" class="net.dfs.client.storefile.impl.MessageShell" >
				<property name="security" ref ="security" />
				<property name="lookup" ref ="lookup" />
			</bean>

			<bean id="fileTemp" class="net.dfs.server.filemodel.FileModel" />
		
			<bean id="security" class="net.dfs.server.filespace.impl.SecurityManagerImpl" />

			<bean id="lookup" class="net.dfs.server.filespace.impl.LookupImpl" />
		
		
</beans>
		